body {
  background-color: #1a1a1a;
  color: #F2F3F4;
  font-family: 'national_parkregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

@font-face {
    font-family: 'national_parkregular';
    src: url('..res/fonts/nationalpark-regular-webfont.woff2') format('woff2'),
         url('..res/fonts/nationalpark-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
