.header {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.header h1 {
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header h3 {
  margin-top: 10px;
  margin-left: 5px;
}

.title {
  width: 50%;
  float: left;
}

.nav {
  position: inherit;
  right: 50px;
  top: 16px;
  width: 50%;
  float: right;
  vertical-align: middle;
}

.nav a {
  font-size: 24px;
  display: block; /* Make the links appear below each other */
  padding: 5px;
  text-decoration: none; /* Remove underline from links */
  text-align: right;
}

.nav a:hover {
  color: #d8d8d8;
}

.nav a.active {
  color: #ffffff;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  margin-top: 50px;
  margin-left: 50px;
  padding-bottom: 100px;
  clear: both;
  font-size: 18px;
  font-weight: bold;
  color: #D8D8D8;
  line-height: 1.2;
}

.content a {
  color: #ffffff;
  text-decoration: none;
}

.content p {
  width: 60%;
}

.middle {
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  right: 50px;
  left: 50px;
}

.social-icons {
  float: left;
}

.social-icons img {
  margin-right: 5px;
}

.logo-container {
  float: right;
}

@media only screen and (max-width: 1000px) {
  .footer {
    bottom:25px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    margin-top:25px;
  }

  .title {
    width: 100%;
    float: none;
  }

  .nav {
    position: relative;
    float: none;
    clear: left;
    width: 100%;
    left:  0px;
    right: 0px;
  }

  .nav a {
    text-align: left;
  }

  .content p {
    width: 80%;
  }

  .footer {
    position: relative;
    width: 350px;
    margin-top: 200px;
  }

  .social-icons {
    width: auto;
    display: block;
    margin-right: 10px;
    top: 40%;
    transform: translate(0%,40%);
  }

  .logo-container {
    position: relative;
    display: block;
    float: none;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

@media only screen and (max-width: 450px) {

  .header {
    margin-left:25px;
  }

  .header h1 {
    font-size: 24px;
  }

  .header h3 {
    font-size: 14px;
  }

  .content {
    top: 50px;
    margin-left: 25px;
  }

  .nav a {
    font-size: 18px;
  }

  .content img {
    height: 300px;
    width: auto;
  }

  .footer {
    width: 280px;
    left: 25px;
    margin-top: 150px;
    margin-right: 0px;
  }

  .social-icons {
    width: auto;
    display: block;
    margin-right: 10px;
    top: 40%;
    transform: translate(0%,40%);
  }

  .logo-container {
    display: block;
    float: none;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
  }
}
