body {
    margin: 0;
    padding: 0;
    color: #4A4A4A;
    font-family: 'Avenir Next LT Pro Condensed';
    font-size: 16;
}

a {
    text-decoration: none;
    color: #4A4A4A;
    text-align: center;
    margin: 0 auto;
}

@font-face {
    font-family: 'Avenir Next LT Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Condensed'), url('./avenir-next-lt-pro/AvenirNextLTPro-Cn.woff') format('woff');
}

.active a {
    
}
