/***************/
/* Top Section */
/***************/

.top {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 250px;
    text-align: center;
}

.top h1 {
    font-size: 36px;
}

.parent {
    width: 100%;
    margin: auto;
}

.child {
    display: inline-block;
    padding: 40px 40px 10px 40px;
}

.active a {
    padding-bottom: 10px;
    border-bottom: 1px solid #A7A7A7;
}


/*******************/
/* Content Section */
/*******************/

.content {
    margin: auto;
    width: 60%;
}

.contentTop {
    height: 180px;
    text-align: center;
    margin-bottom: 50px;
}

.contentTop h2 {
    margin-top: 20px;
}

.contentTop p {
    margin: 20px 0 90px 0;
}

span {
    font-weight: bold;
}

/************/
/* Sections */
/************/

.section {
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}

.section img {
    width: 60%;
}

.section a {
  color: black;

}

.section a:hover {
  color: #4A4A4A;
}

.aboutMe {
    width: 60%;
    margin: auto;
}

.form {
    width: 313px;
    height: auto;
    margin-top: 25px;
    margin: auto;
}

input {
    width: 300px;
    height: 36px;
    border-radius: 5px;
    margin: 10px auto;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #979797;
    -webkit-box-shadow: inset 0px 1px 0px 0px #dddddd;
    -moz-box-shadow: inset 0px 1px 0px 0px #dddddd;
    box-shadow: inset 0px 1px 0px 0px #dddddd;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea {
    width: 300px;
    height: 146px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 0 0 10px;
    background-color: white;
    border: 1px solid #979797;
    -webkit-box-shadow: inset 0px 1px 0px 0px #dddddd;
    -moz-box-shadow: inset 0px 1px 0px 0px #dddddd;
    box-shadow: inset 0px 1px 0px 0px #dddddd;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.g-recaptcha{
   margin: 5px auto !important;
   width: 300px !important;
   height: auto !important;
   text-align: -webkit-center;
   text-align: -moz-center;
   text-align: -o-center;
   text-align: -ms-center;
}

.submit {
    width: 300px;
    padding-left: 0;
}

hr {
    width: 80%;
    background-image: moz-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: -webkit-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: linear-gradient(to right, #A7A7A7 30%, #D3D3D3 100%);
}

/*********************/
/* Responsive Sizing */
/*********************/

@media (max-width:1920px) {
    .section {
        height: auto;
    }
}
@media (max-width:1200px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 80%;
    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin-left: 15%;
    }
}

@media (max-width:1000px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 100%;

    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin-left: 5%;
    }
}

@media (max-width:700px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }
    .content {
        height: auto;
    }
    /************/
    /* Sections */
    /************/

    .section img {
        width: 80%;
    }

    .aboutMe {
        width: 80%;
        margin: auto;
    }
    /*.form {
        height: auto;
        width: 100%;
        margin-top: 25px;
    }
    .leftForm {
        float: none;
        width: 100%;

    }
    .rightForm {
        float: none;
        width: 100%;
        margin-top: 20px;
    }*/
    /**********/
    /* Footer */
    /**********/
    .footer {
        margin-top: 75px;
    }
}

@media (max-width:600px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }
}

@media (max-width:400px) {
    /***************/
    /* Top Section */
    /***************/
    .top {
        height: auto;
    }
    .child {
        display: block;
        padding: 20px 20px 10px 20px;
    }
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        margin-top:80px;
    }

    .contentTop {
        margin-bottom: 30px;
        height: auto;
    }

    .contentTop p {
        margin: 20px 0 0px 0;
    }

    /************/
    /* Sections */
    /************/
    .form {
        width: 100%;
    }

    input {
        width: 100%;
        /*padding: 0;*/
    }

    textarea {
        width: 100%;
        /*padding: 0;*/
    }

    .submit {
        width: 100%;
    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin: auto;
    }
}
