/***************/
/* Top Section */
/***************/

.top {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 250px;
    text-align: center;
}

.top h1 {
    font-size: 36px;
}

.parent {
    width: 100%;
    margin: auto;
}

.child {
    display: inline-block;
    padding: 40px 40px 10px 40px;
}

.active a {
    padding-bottom: 10px;
    border-bottom: 1px solid #A7A7A7;
}


/*******************/
/* Content Section */
/*******************/

.content {
    margin: auto;
    width: 60%;
    height: auto;
}

.contentTop {
    height: 180px;
    text-align: center;
    margin-bottom: 50px;
}

.contentTop h2 {
    margin-top: 20px;
}

.contentTop p {
    margin: 20px 0 90px 0;
}

/************/
/* Sections */
/************/

.section {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.left {
    margin-top: 20px;
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 60%
}

.right img {
    width: 100%;
}

.buttons {
  width: auto;
}

.viewBtn {
    display: inline-block;
    width: 95px;
    text-align: center;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    background-color: #4A4A4A;
    border-radius: 8px;
}

.viewBtn a {
    color: white;
    display: block;
}

hr {
    width: 80%;
    background-image: moz-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: -webkit-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: linear-gradient(to right, #A7A7A7 30%, #D3D3D3 100%);
}

/*********************/
/* Responsive Sizing */
/*********************/
@media (max-width:1200px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 80%;
    }
}

@media (max-width:1000px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 100%;

    }

}

@media (max-width:700px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }

    /************/
    /* Sections */
    /************/

    .left {
        float: none;
        margin-top: 0px;
        width: 100%;
    }
    .right {
        float: none;
        margin-top: 25px;
        width: 100%
    }

    .botSection {
        margin-top: 200px;
    }
    /**********/
    /* Footer */
    /**********/
    .footer {
        margin-top: 75px;
    }
}

@media (max-width:600px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }

    .botSection {
        margin-top: 100px;
    }
}

@media (max-width:400px) {

    /*******************/
    /* Content Section */
    /*******************/
    .content {
        margin-top:40px;
    }

    .botSection {
        margin-top: 0px;
    }

}
