/**********/
/* Basics */
/**********/

body {
    margin: 0;
    padding: 0;
    color: #4A4A4A;
    font-family: 'Avenir Next LT Pro Condensed';
    font-size: 14;
}

a {
    text-decoration: none;
    color: #4A4A4A;
    text-align: center;
    margin: 0 auto;
}

@font-face {
    font-family: 'Avenir Next LT Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Condensed'), url('AvenirNextLTPro-Cn.woff') format('woff');
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    padding-left:  10px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  padding-left:  10px;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   padding-left:  10px;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   padding-left:  10px;

}
::-ms-input-placeholder { /* Microsoft Edge */
   padding-left:  10px;
}

/***************/
/* Top Section */
/***************/

.top {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 250px;
    text-align: center;
}

.top h1 {
    font-size: 36px;
}

.parent {
    width: 100%;
    margin: auto;
}

.child {
    display: inline-block;
    padding: 40px 40px 10px 40px;
}

.active a {
    padding-bottom: 10px;
    border-bottom: 1px solid #A7A7A7;
}


/*******************/
/* Content Section */
/*******************/

.content {
    margin: auto;
    width: 60%;
}

.contentTop {
    height: 180px;
    text-align: center;
    margin-bottom: 100px;
}

.contentTop h2 {
    margin-top: 20px;
}

.contentTop p {
    margin: 20px 0 90px 0;
}

span {
    font-weight: bold;
}

/************/
/* Sections */
/************/

.section {
    width: 100%;
    text-align: center;
    height: 550px;
}

.section a {
  color: black;

}

.section a:hover {
  color: #4A4A4A;
}

.left {
    margin-top: 20px;
    text-align: center;
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%
}

.right img {
    width: 100%;
}

.form {
    width: 313px;
    height: auto;
    margin-top: 25px;
    margin: auto;
}

.leftForm {
    float: left;
    width: 50%;
    margin: auto;
}

.rightForm {
    float: right;
    width: 50%;
    margin-bottom: 25px;
}

input {
    width: 300px;
    height: 36px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #979797;
    -webkit-box-shadow: inset 0px 1px 0px 0px #dddddd;
    -moz-box-shadow: inset 0px 1px 0px 0px #dddddd;
    box-shadow: inset 0px 1px 0px 0px #dddddd;
}

.submit {
    width: 300px;
    padding-left: 0;
}


textarea {
    height: 146px;
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #979797;
    padding:10px 0 0 0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #dddddd;
    -moz-box-shadow: inset 0px 1px 0px 0px #dddddd;
    box-shadow: inset 0px 1px 0px 0px #dddddd;
}

hr {
    width: 80%;
    background-image: moz-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: -webkit-linear-gradient(left, #A7A7A7 30%, #D3D3D3 100%);
    background-image: linear-gradient(to right, #A7A7A7 30%, #D3D3D3 100%);
}


/**********/
/* Footer */
/**********/

.footer {
    margin-top: 150px;
    width: 100%;
    height: 200px;
    background-color: black;
}

.info {
    padding-top: 20px;
    margin-left: 20%;
    height: 175px;
    width: 240px;
    text-align: center;
    overflow: hidden;
}

.info a {
    color: white;
}

.info li {
    list-style: none;
    padding-bottom: 20px;
}

.leftList {
    float: left;
}

.rightList {
    float: right;
}

/*********************/
/* Responsive Sizing */
/*********************/

@media (max-width:1920px) {
    .section1,
    .section2 {
        height: 400px;
    }
}
@media (max-width:1200px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 80%;
    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin-left: 15%;
    }
}

@media (max-width:1000px) {
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        width: 100%;

    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin-left: 5%;
    }
}

@media (max-width:700px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }
    .content {
        height: auto;
    }
    /************/
    /* Sections */
    /************/
    .section1,
    .section2 {
        height: auto;
    }
    .left {
        float: none;
        margin-top: 0px;
        width: 100%;
    }
    .right {
        float: none;
        margin-top: 25px;
        width: 100%
    }
    /*.form {
        height: auto;
        width: 100%;
        margin-top: 25px;
    }
    .leftForm {
        float: none;
        width: 100%;

    }
    .rightForm {
        float: none;
        width: 100%;
        margin-top: 20px;
    }*/
    /**********/
    /* Footer */
    /**********/
    .footer {
        margin-top: 75px;
    }
}

@media (max-width:600px) {
    /***************/
    /* Top Section */
    /***************/
    .child {
        padding: 40px 20px 10px 20px;
    }
}

@media (max-width:400px) {
    /***************/
    /* Top Section */
    /***************/
    .top {
        height: auto;
    }
    .child {
        display: block;
        padding: 20px 20px 10px 20px;
    }
    /*******************/
    /* Content Section */
    /*******************/
    .content {
        margin-top:80px;
    }

    .contentTop {
        margin-bottom: 30px;
        height: auto;
    }

    .contentTop p {
        margin: 20px 0 0px 0;
    }

    /************/
    /* Sections */
    /************/
    .form {
        width: 100%;
    }

    input {
        width: 100%;
        /*padding: 0;*/
    }

    textarea {
        width: 100%;
        /*padding: 0;*/
    }

    .submit {
        width: 100%;
    }
    /**********/
    /* Footer */
    /**********/
    .info {
        margin: auto;
    }
}
