@charset "UTF-8";

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: #6E6E6E;
}

a:active {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: 600;
}

h1 {
  color: black;
  font-size: 48px;
  padding: 15px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
  width: 100%;
  height: 125px;
  background: #fff;

}

header img {
  float: left;
  width: 200px;
  padding:15px 0 0 50px;
}

nav {
  width: 90%;
  line-height: 95px;
  margin-right: 20px;
}

nav ul {
  text-align: right;
}

nav li {
  display: inline-block;
  padding: 15px 30px 15px 15px;
  text-decoration: none;
}

.menu-toggle {
  visibility: hidden;
  z-index: 5;
  width: 70px;
  position: absolute;
  top: 35px;
  right: 50px;
}

.current a {
  color: blue;
}

.top-image {
  background-image: url(../images/fill.jpg);
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backBtn {
    display: inline-block;
    width: 125px;
    text-align: center;
    margin: 5px;
    height: 56px;
    line-height: 56px;
    background-color: blue;
    border-radius: 8px;
}

.backBtn a {
    color: white;
    display: block;
}

.bg-layer {
  position: relative;
  top:125px;
  left:60px;
  background: #fff;
  height: auto;
  max-width: 32%;
  margin-bottom: 50px;
}

.second-info  {
  min-height: 740px;
  margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    font-size: 22px;
    font-weight: 500;
}

.container h2 {
  font-size: 26px;
  font-weight: 600;
}

.container p {
  line-height: 26px;
}

.info {
  padding: 0 0 50px 20px;
}

.image-item {
  display: inline-block;
  width: 33%;
  padding: 50px 20px;
}

.image-item img {
  width: 100%;
  float: left;
}

.action {
  font-size: 20px;
  font-weight: 800;
}

.arrow {
  padding-left: 15px;
}

.third-image {
  background-image: url(../images/fill.jpg);
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.up {
  margin: auto;
  color: white;
  width: 40px;
  padding-top: 5px;
}

.up img {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

footer {
  min-height: 600px;
  font-size: 18px;
  background: #171717;
  color: white;
  width: 100%;
  overflow:hidden;
}

footer h2 {
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

footer p {
  padding-bottom: 10px;
  line-height: 22px;
  font-weight: 500;
}

.footer-container {
  width: 80%;
  margin: auto;
  padding-top: 70px;
}

.footer-item {
  width: 100%;
}

.footer-item img {
  width: 75%;
  padding: 5px 5px 5px 0;
  margin: auto;
}

.footer-h2-padding {
  padding-top: 20px;
}

form {
  width: 100%;
}

input {
  padding: 15px;
  height: 40px;
  width: 70%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #979797;
  padding-left: 10px;
  color: black;
  margin: 0 auto;
}

.subscribe-submit {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #979797;
  color: black;
  font-weight: 600;
  margin: 10px auto;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dddddd;
  -moz-box-shadow: inset 0px 1px 0px 0px #dddddd;
  box-shadow: inset 0px 1px 0px 0px #dddddd;
}

/*///////////////////////////*/
/*//  RESPONSIVE STYLING  //*/
/*/////////////////////////*/

@media all and (min-width: 950px) {
    .footer-container {
        width: 980px;
        margin: auto;
    }

    .footer-item{
      width: 25%;
      float: left;
      padding: 10px;
    }
}


/* First Sizing*/
@media all and (max-width:700px) {
  nav ul {
    visibility: hidden;
  }

  nav li {
    visibility: hidden;
  }

  .menu-toggle {
    visibility: visible;
  }

  .menu-toggle:active header {
    height: 400px;
  }

}
